/* App.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.add-workout {
    margin-bottom: 20px;
}

.add-workout input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

.add-workout button {
    padding: 10px 20px;
    background-color: hsl(211, 100%, 50%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-workout button:hover {
    background-color: hsl(211, 100%, 30%);
}

.workout-list {
    margin-top: 20px;
}

.workout {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.workout-title {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.workout-date {
    display: block;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.workout-column-label-container {
    display: flex;
    margin-bottom: 10px;
}

.workout-column-label {
    flex: 1;
    font-weight: bold;
    border: 3px solid blue;
}

.exercise-container {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    border: 3px solid red;
}

.exercise-info {
    flex: 1;
    border: 3px solid green;
}

.delete {
    margin-left: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}
